*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather', serif;
}


#navbar{
    background-color: rgb(247, 141, 203);
}
#logo{
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
}
#logo span{
    color: #0f0f0f;
}
#logo #span1{
    font-size: 30px;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item{
    margin-left: 10px;
}
.nav-item .nav-link{
    color: rgb(255, 255, 255);
    margin-left: 2px;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    transition: 0.5s ease;
}






.home{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color:  #f5c0e1;
    z-index: 0;
}
.home .img{
    flex: 1 1 300px;
}
.home .img img{
    margin-top: 30px;
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.homee{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #74e3f1;
    z-index: 0;
}
.homee .img{
    flex: 1 1 300px;
}
.homee .img img{
    margin-top: 30px;
    width: 100%;
}
.homee .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.content h1{
    color: rgb(86, 0, 67);
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}
.content h1 span{
    color: rgb(67 0 86);
    text-shadow: 1px 1px 1px black;
}
#span2{
    color: #ffc800;
}
.content p{
    margin-left: 23px;
}
.btn{
    margin-left: 13px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(233, 11, 233);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #ff00b3;
    color: black;
    border: none;
}
@media screen and (max-width:1200px){
    .homee{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    .homee{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    .homee{
        height: 110vh;
    }
}
@media screen and (max-width:420px){
   .content h1{
    font-size: 45px;
   }
}
@media screen and (max-width:320px){
   .content h1{
    font-size: 36px;
   }
}

.gallery{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #e5f393;
    z-index: 0;
}
.gallery .img{
    flex: 1 1 300px;
}
.gallery .img img{
    margin-top: 30px;
    width: 100%;
}
.gallery .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.content h1{
    color: rgb(243, 22, 195);
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}
.content h1 span{
    color: rgb(243, 22, 195);
    text-shadow: 1px 1px 1px black;
}
#span2{
    color: #f700ff;
}
.content p{
    margin-left: 23px;
}
.btn{
    margin-left: 13px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(231, 76, 218);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #ff0055;
    color: black;
    border: none;
}
@media screen and (max-width:1200px){
    .gallery{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    .gallery{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    .gallery{
        height: 110vh;
    }
}
@media screen and (max-width:420px){
   .content h1{
    font-size: 45px;
   }
}
@media screen and (max-width:320px){
   .content h1{
    font-size: 36px;
   }
}

.homeee{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #f5c0e1;
    z-index: 0;
}
.homeee .img{
    flex: 1 1 300px;
}
.homeee .img img{
    margin-top: 30px;
    width: 100%;
}
.homeee .content{
    flex: 1 1 400px;
    margin-top: 20px;
}
.content h1{
    color: rgb(243, 22, 195);
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}
.content h1 span{
    color: rgb(243, 22, 195);
    text-shadow: 1px 1px 1px black;
}
#span2{
    color: #f700ff;
}
.content p{
    margin-left: 23px;
}
.btn{
    margin-left: 13px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(233, 11, 233);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #ff0055;
    color: black;
    border: none;
}
@media screen and (max-width:1200px){
    .homeee{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    .homeee{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    .homeee{
        height: 110vh;
    }
}
@media screen and (max-width:420px){
   .content h1{
    font-size: 45px;
   }
}
@media screen and (max-width:320px){
   .content h1{
    font-size: 36px;
   }
}


#footer{
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    background-color: rgb(241, 48, 145);
    margin-top: 100px;
}
#footer .footer-top{
    padding: 60px 0 30px 0;
    background-color:  rgb(15, 15, 15);
    color: white;
}
#footer .footer-top .footer-contact{
    margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3{
    color: rgb(245, 22, 170);
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
}
#footer .footer-top .footer-links h4{
    color: #f3ecec;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
}
#footer .footer-top .footer-links ul li a:hover{
    color: #030303;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}
#footer .footer-top .socail-links a:hover{
    background-color: #111110;
    color: white;
}
#footer .copyright{
    text-align: center;
    float: left;
}
#footer .credits{
    float: right;
    text-align: center;
    font-size: 13px;
}
#footer .credits a{
    color: #020202;
}
/* footer */




html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}



#contact{
    margin-top: 50px;
}
#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(219, 219, 224, 0.2) 0px 7px 29px 0px;
}
#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: rgb(252, 79, 185);
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(240, 88, 189);
}
.messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid rgb(206, 72, 240);
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
    cursor: pointer;
}
.messagebtn button:hover{
    background-color: rgb(199, 58, 238);
    color: white;
}

